* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
	font-family: 'Charis SIL', serif;
}
/* nav */
.navbar {
    height: 140px;
}
.navbar .logo {
    width: 250px;
	height: 130px;
	margin-left: 60px;
    background-size: cover;
	display: flex;
	justify-content: center;
}
.navbar .menu {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	border-bottom: solid 1px grey;
}
.navbar .menu .menuItems {
    list-style: none;
    display: flex;
    margin-right: 100px;
}
.navbar .menu .menuItems li {
    margin: 0 5px;
}
.navbar .menu .menuItems li a {
    text-decoration: none;
    color: gray;
    padding: 0px 17px;
    font-size: 20px;
}
.navbar .menu .menuItems li a:hover {
    background-color: rgba(167, 163, 163, 0.253);
    text-decoration: underline;
    color: rgb(68, 68, 68);
    transition: 0.4s;
	border-radius: 8px;
}
.btnMenu {
    margin-right: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}
ul.show {
    top: 125px;
}
/* cards */
.card-img-filter{
    filter: brightness(75%);
}
.linea{
    border-bottom:solid 1px grey;
    width:100%;
    height:50px;
}
/* best sellers */
.titulo{
    color: #333;
}
.card_contenedor{
    position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 35px;
	padding: 20px;
    justify-items: center;
}
.card{
	width: 100%;
    background-color: #f2f2f2;
    border: 0;
}
.card__imgBx{
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
    border-radius: 5px;
}
.card__imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.4s ease-in-out;
	transform-origin: right;
}
.card:hover .card__imgBx img{
	transform: scale(1.3);
}
.card__contenido{
	padding: 10px;
}
.action{
	position: absolute;
	top: 10px;
	right: 10px;
}
.action__box{
	position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	background: #f2f2f2;
    border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;
	cursor: pointer;
	transition: .2s ease-in;
	transform: translateX(60px);
}
.card:hover .action__box{
	transform: translateX(0px);
}
.action__box span{
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%) translateX(-20px);
	white-space: nowrap;
	padding: 6px 10px;
	background: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	pointer-events: none;
	opacity: 0;
	transition: .2s ease-in;
}
.action__box:hover{
	border: none;
	color: #f2f2f2;
}
.action__box:hover span{
	opacity: 1;
	transform: translateY(-50%) translateX(0px);
}
.action__box:nth-child(2){
	transition-delay: 0.15s;
}
.action__box:nth-child(3){
	transition-delay: 0.3s;
}
.contenido__nombreProducto h4{
	font-size: 18px;
	color: #333;
}
.contenido__precioProducto h3{
	font-size: 18px;
	color:#333;
}
/* footer */
.lineaFooter{
	border-top: 1px solid grey;
}
.logoFooter{
	width: 280px;
	height: 170px;
	background-size: cover;
}
.foot-navigation{
	list-style: none;
}
.nav-link-footer{
    font-size: 15px;
	text-decoration: none;
	color: #333;
}
.nav-link-footer:hover{
	font-size: 17px;
	color: #333;
}
.contacto, .tel, .mail, .icono, .newsletter{
	color: #333;
}
.icono{
	padding-top: 20px;
	margin-right: 10px;
}
.form-control{
	width: 250px;
	margin: auto;
}
.form-btn{
	margin-top: 15px;
	padding: 3px;
	border-radius: 5px;
	background-color: rgb(34, 34, 34);
	color: #f2f2f2;
}
/* responsive */
@media screen and (max-width: 1128px){
	.navbar .logo{
		margin: 0;
	}
}
@media screen and (max-width: 950px){
	.navbar .menu {
		height: 130px;
		position: relative;
	}
	.navbar .logo {
		width: 250px;
		height: 120px;
		background-size: cover;
		display: flex;
		justify-content: center;
	}
	.navbar .menu .menuItems li a {
		font-size: 16px;
		padding: 5px 15px;
	}
}
@media screen and (max-width: 858px){
	.navbar .menu {
		height: 110px;
		position: relative;
	}
	.navbar .logo {
		width: 200px;
		height: 100px;
		background-size: cover;
		display: flex;
		justify-content: center;
	}
	.navbar .menu .btnMenu {
		display: inline-flex;
		padding: 35px;
		color: rgb(68, 68, 68);
	}
	.menuItems {
		position: fixed;
		width: 100vw;
		height: calc(100% - 125px); 
		/* #cd9595 color del logo */
		background: #f2f2f2;
		top: -100vh;
		text-align: center;
		transition: all 0.4s;
		flex-direction: column;
		padding: 0;
	}
	.navbar .menu .menuItems li {
		margin: 30px 0 0 0;
		line-height: 30px;
	}
	.navbar .menu .menuItems li a {
		font-size: 20px;
		color: rgb(68, 68, 68);
	}
}
